Ward/bpelContent/RadService-callback.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s0="http://www.PAHospital.org/RadiologyCallbackService/"
  xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
  targetNamespace="http://www.PAHospital.org/RadiologyCallbackService/">

  <types>
    <xsd:schema targetNamespace="http://www.PAHospital.org/RadiologyCallbackService/">
      <xsd:element name="RadiologyReport">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PatientID" type="xsd:string" />
            <xsd:element name="RadiologyOrderID" type="xsd:string" />
            <xsd:element name="DateOfExamination" type="xsd:date" />
            <xsd:element name="ReportText" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

<vprop:property name="RadiologyOrderID" type="xsd:string"/>
<vprop:property name="PatientID" type="xsd:string"/>

<vprop:propertyAlias propertyName="s0:RadOrderID" messageType="s0:RadiologyReportRequest" part="RadiologyReport" element="RadiologyOrderID"></vprop:propertyAlias>
<vprop:propertyAlias propertyName="s0:PatientID" messageType="s0:RadiologyReportRequest" part="RadiologyReport" element="PatientID"></vprop:propertyAlias>


  <message name="RadiologyReportRequest">
    <part name="RadiologyReport" element="s0:RadiologyReport" />
  </message>

  <portType name="RadiologyCallback">
    <operation name="SendRadiologyReport">
      <input message="s0:RadiologyReportRequest" />
    </operation>
  </portType>

  <binding name="RadiologyCallbackBinding" type="s0:RadiologyCallback">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="SendRadiologyReport">
      <soap:operation
        soapAction="http://www.PAHospital.org/RadiologyCallbackService/SendRadiologyReport" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
  </binding>

  <!-- Service defines the address of Web service -->
  <service name="RadiologyCallbackService">
    <port name="RadiologyCallbackPort" binding="s0:RadiologyCallbackBinding">
      <soap:address location="http://localhost:8008/ode/processes/RadiologyCallbackService" />
    </port>
  </service>

</definitions>