Ward/bpelContent/WardService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:lab="http://www.PAHospital.org/LabService/" 
  xmlns:rad="http://www.PAHospital.org/RadiologyService/"
  xmlns:labcb="http://www.PAHospital.org/LabCallbackService/" 
  xmlns:radcb="http://www.PAHospital.org/RadiologyCallbackService/"
  xmlns:pat="http://www.PAHospital.org/PatService/" 
  xmlns:transp="http://www.PAHospital.org/TransportationService/"
  xmlns:tns="http://www.PAHospital.org/WardService/"
  xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
  targetNamespace="http://www.PAHospital.org/WardService/">
 	
<import namespace="http://www.PAHospital.org/LabService/" location="LabService.wsdl"/>
<import namespace="http://www.PAHospital.org/RadiologyService/" location="RadService.wsdl"/>
<import namespace="http://www.PAHospital.org/LabCallbackService/" location="LabService-callback.wsdl"/>
<import namespace="http://www.PAHospital.org/RadiologyCallbackService/" location="RadService-callback.wsdl"/>
<import namespace="http://www.PAHospital.org/PatService/" location="PatService.wsdl"/>
<import namespace="http://www.PAHospital.org/TransportationService/" location="TranspService.wsdl"/>

<types>
	<xsd:schema targetNamespace="http://www.PAHospital.org/WardService/">
		<xsd:element name="ID" type="xsd:string"></xsd:element>
		<xsd:element name="RadiologyData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PatientID" type="xsd:string" />
            <xsd:element name="CaseID" type="xsd:string" />
      		<xsd:element name="TransportRequired" type="xsd:boolean"/>
      		<xsd:element name="AppointmentDate" type="xsd:date"/>
            <xsd:element name="ExaminationType">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="XRAY" />
                  <xsd:enumeration value="CT" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
	</xsd:schema>

</types>
<vprop:property name="PatientID" type="xsd:string"/>

<vprop:propertyAlias propertyName="tns:PatientID" messageType="tns:OrderAdmissionResponse" part="PatientID" element="ID"></vprop:propertyAlias>
<vprop:propertyAlias propertyName="tns:PatientID" messageType="tns:EnterLabTestOrderDataRequest" part="LabTestData" element="LabOrder"><vprop:query>PatientID</vprop:query></vprop:propertyAlias>
<vprop:propertyAlias propertyName="tns:PatientID" messageType="tns:EnterRadiologyOrderDataRequest" part="RadOrderData" element="PatientID"></vprop:propertyAlias>
<vprop:propertyAlias propertyName="tns:PatientID" messageType="tns:ViewLabReportRequest" part="PatientID" element="ID"></vprop:propertyAlias>
<vprop:propertyAlias propertyName="tns:PatientID" messageType="tns:ViewRadiologyReportRequest" part="PatientID" element="ID"></vprop:propertyAlias>
<vprop:propertyAlias propertyName="tns:PatientID" messageType="tns:ValidateReportsRequest" part="PatientID" element="ID"></vprop:propertyAlias>
<vprop:propertyAlias propertyName="tns:PatientID" messageType="tns:GenerateDischargeLetterRequest" part="PatientID" element="ID"></vprop:propertyAlias>
<vprop:propertyAlias propertyName="tns:PatientID" messageType="labcb:SendLabReportResponse" part="LabReport" element="LabReport"><vprop:query>PatientID</vprop:query></vprop:propertyAlias>
<vprop:propertyAlias propertyName="tns:PatientID" messageType="radcb:RadiologyReportRequest" part="RadiologyReport" element="RadiologyReport"><vprop:query>PatientID</vprop:query></vprop:propertyAlias>
<vprop:propertyAlias propertyName="tns:PatientID" messageType="rad:RadiologyOrderRadExaminationRequest" part="Order" element="RadiologyOrder"><vprop:query>PatientID</vprop:query></vprop:propertyAlias>
<vprop:propertyAlias propertyName="tns:PatientID" messageType="lab:LaboratoryOrderLabTestRequest" part="LabOrder" element="LabOrder"><vprop:query>PatientID</vprop:query></vprop:propertyAlias>

  <message name="OrderAdmissionRequest">
    <part name="PatientData" element="pat:Patient" />
  </message>
  <message name="OrderAdmissionResponse">
    <part name="PatientID" element="tns:ID" />
  </message>
  <message name="EnterLabTestOrderDataRequest">
    <part name="LabTestData" element="lab:LabOrder" />
  </message>
  <message name="EnterRadiologyOrderDataRequest">
    <part name="RadOrderData" element="tns:RadiologyData" />
  </message>
  <message name="ViewLabReportRequest">
    <part name="PatientID" element="tns:ID" />
  </message>
    <message name="ViewRadiologyReportRequest">
    <part name="PatientID" element="tns:ID" />
  </message>
  <message name="ViewLabReportResponse">
	<part name="LabReport" element="labcb:LabReport" />
  </message>
	<message name="ViewRadiologyReportResponse">
	<part name="RadReport" element="radcb:RadiologyReport" />
  </message>
  <message name="ValidateReportsRequest">
    <part name="PatientID" element="tns:ID" />
  </message>
  <message name="GenerateDischargeLetterRequest">
    <part name="PatientID" element="tns:ID" />
  </message>

  <portType name="Ward">
	<operation name="OrderAdmission">
      <input message="tns:OrderAdmissionRequest" />
      <output message="tns:OrderAdmissionResponse" />
    </operation>
    <operation name="EnterLabTestOrderData">
      <input message="tns:EnterLabTestOrderDataRequest" />
    </operation>
    <operation name="EnterRadiologyOrderData">
      <input message="tns:EnterRadiologyOrderDataRequest" />
    </operation>
	<operation name="ViewLabReport">
      <input message="tns:ViewLabReportRequest" />
      <output message="tns:ViewLabReportResponse" />
    </operation>
    <operation name="ViewRadReport">
      <input message="tns:ViewRadiologyReportRequest" />
      <output message="tns:ViewRadiologyReportResponse" />
    </operation>
    <operation name="ValidateReports">
      <input message="tns:ValidateReportsRequest" />
    </operation>
    <operation name="GenerateDischargeLetter">
      <input message="tns:GenerateDischargeLetterRequest" />
    </operation>
  </portType>
  
  <!--  partnerLinkTypes -->
 	<plnk:partnerLinkType name="Ward"> 
         <plnk:role name="ward" portType="tns:Ward"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="Lab"> 
         <plnk:role name="testRequester" portType="labcb:LabCallback"/>
         <plnk:role name="testExecutor" portType="lab:Laboratory"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="Epr"> 
         <plnk:role name="directory" portType="pat:ElectronicPatientRecord"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="Rad"> 
         <plnk:role name="radRequester" portType="radcb:RadiologyCallback"/>
         <plnk:role name="radExecutor" portType="rad:Radiology"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="Transp"> 
         <plnk:role name="transpExecutor" portType="transp:Transportation"/>
    </plnk:partnerLinkType>

  <binding name="WardBinding" type="tns:Ward">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="EnterLabTestOrderData">
      <soap:operation
        soapAction="http://www.PAHospital.org/WardService/EnterLabTestOrderData" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EnterRadiologyOrderData">
      <soap:operation
        soapAction="http://www.PAHospital.org/WardService/EnterRadiologyOrderData" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
	<operation name="ViewLabReport">
      <soap:operation
        soapAction="http://www.PAHospital.org/WardService/ValidateReports" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ViewRadReport">
      <soap:operation
        soapAction="http://www.PAHospital.org/WardService/ValidateReports" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ValidateReports">
      <soap:operation
        soapAction="http://www.PAHospital.org/WardService/ValidateReports" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GenerateDischargeLetter">
      <soap:operation soapAction="http://www.PAHospital.org/WardService/GenerateDischargeLetter" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="OrderAdmission">
    	<soap:operation soapAction="http://www.PAHospital.org/WardService/OrderAdmission" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>

  <!-- Service defines the address of Web service -->
  <service name="WardService">
    <port name="WardPort" binding="tns:WardBinding">
      <soap:address location="http://localhost:8080/ode/processes/WardService/" />
    </port>
  </service>
  
</definitions>